hr.style2 { 
    border-top: 3px double #8c8b8b;
  } 
  select option[disabled] {
    color: #ce3a3a;
  }
#aaaasd{
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}
#buttonsubmit{
  width: 100%;
}
.myForm{
  border: 2px dashed black;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}